{% feed_meta %}

{% for lang in site.data.languages %}
  {% if lang.enabled and page.lang != lang.code %}
    {% if lang.code == 'ko' %}
      <link rel="alternate" href="{{ site.url }}{{ page.url }}" hreflang="{{ lang.code }}">
    {% else %}
      <link rel="alternate" href="{{ site.url }}/{{ lang.code }}{{ page.url }}" hreflang="{{ lang.code }}">
    {% endif %}
  {% endif %}
{% endfor %}

<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
<link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/assets/icons/icon.png' | relative_url }}">

<link rel="dns-prefetch" href="https://www.google-analytics.com">
