<div class="redirect-container">
<div class="redirect-loading">
  <div class="loading-container">
    <div class="loading"></div>
    <div id="loading-text">REDIRECTING</div>
  </div>
  <h2 class="h2-text">잠시 후 {{ page.meta.title }}(으)로 이동됩니다.</h2>
  <p class="p-text">자동으로 이동되지 않으면 아래 링크를 눌러주세요.</p>
</div>
{% include components/link-box.html meta=page.meta %}
</div>
