---
layout: base
---
{% assign plugins = site.plugins | default:site.gems %}
{% assign lang_index = page.lang_index %}
{% assign lang = page.lang %}
<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    {% include head/index.html %}
  </head>
  <body>
    
  </body>
</html>